<h1>{{user}}</h1>
<ul>
    <li>Age: {{userAge}}</li>
    <li>Email: {{email}}</li>
    <li>{{address.street}}, {{address.city}}, {{address.country}}</li>
</ul>

<button (click)="onClick()">test</button>

<form (submit)="addHobby(hobby.value)">
    <div>
        <label>Hobby: <input type="text" #hobby></label>
    </div>
</form>

<h2>Hobbies</h2>
<ul>
    <li *ngFor="let hobby of hobbies; let i = index">
        {{i + 1}}: {{hobby}}
        <button (click)="deleteHobby(hobby)">-</button>
    </li>
</ul>

<h2>Edit User</h2>

<button (click)="toggleEditableMode()">Edit User</button>

<form class="edit-user" *ngIf="isEditable">
    <label>Name <br>
        <input type="text" [(ngModel)]="user" name="user">
    </label>
    <label>Age <br>
        <input type="number" [(ngModel)]="userAge" name="userAge">
    </label>
    <label>Email <br>
        <input type="text" [(ngModel)]="email" name="email">
    </label>
    <label>Street <br>
        <input type="text" [(ngModel)]="address.street" name="street">
    </label>
    <label>City <br>
        <input type="text" [(ngModel)]="address.city" name="city">
    </label>
    <label>Country <br>
        <input type="text" [(ngModel)]="address.country" name="country">
    </label>
</form>
