$c: center;
$sa: space-around;
$sb: space-between;
$fs: flex-start;
$fe: flex-end;
$str: stretch;
$r: row;
$rr: row-reverse;
$col: column;
$colr: column-reverse;
$w: wrap;
$now: nowrap;

@mixin flex($justify: flex-start, $align: stretch, $dir: row, $wrap: nowrap) {
  display: flex;
  @if $justify != 'n' {
    justify-content: $justify;
  }
  @if $align != 'n' {
    align-items: $align;
  }
  @if $dir != 'n' {
    flex-direction: $dir;
  }
  @if $wrap != 'n' {
    flex-wrap: $wrap;
  }  
}
