<nav class="nav-sidebar">
    <a [routerLink]="['/']">
        <h1>alexnaidovich<br><span class="h-small">
            web developer
        </span></h1>
    </a>

    <ul>
        <li><a [routerLink]="['/trivia']" routerLinkActive=".active-nav-link">trivia</a></li>
        <li><a [routerLink]="['/works']" routerLinkActive=".active-nav-link">works</a></li>
        <li><a [routerLink]="['/blog']" routerLinkActive=".active-nav-link">blog</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive=".active-nav-link">contact</a></li>
    </ul>
    
    <small>powered by <a href="https://angular.io/" target="_blank">ng6</a></small>
    <small><a href="https://github.com/alexnaidovich/a4app" target="_blank">source code</a></small>
    <a href="https://github.com/alexnaidovich">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAclBMVEUAAAA0XE04XkQ1XEw1XUs1XEw1XEw2XEs1W001XEw1XEw1XUw0XEw1XUw0XEw1XEw0WU41XEw1XEw1XEw0XEw1XEw1XUw1W0w1XEw0XEs2Ykw1XEw0XEwzXU00X0k1XEw1XEw0XEw1W001XUw0XEw1XExbeR0PAAAAJXRSTlMAVQbSJfz2Qij5xKaYiIJHHuraoWhe469QMwv0ai8YvZB1NbNsEnE3swAAATdJREFUOMt1kumWgyAMhYNYQetel7p1m+H9X3EkgYNF5v4hJ98FkpzAQVFcdUXRVXEEIdVlo4yasj5hOV7UQZdRfnO2KE8LO37+UgG9XClXFdTV8k79o474lO5xKXvuCO/jcj/SCQ2tTgldaf5m28beua5P6Gyr+R3vxOApxvR9j542cnL3ngBSoYRvEJSXULqOUF7vJdxsCb42BDfI9JFAQIkmGQzYd8iAcxnI14QMDb1N85vPfEbAYcTzczZ8EIxQmGJ9mfYK6GmDzqOmDetBUjBM33wa6KLEiWXZXm5RH64XidkZeutnZpfd3ZpK8pao/Tnfn6BScjKsCF2iTvRyre2SmU+k5YlJiEQ1D29EyIXNVKni7BFZU0Q8rSxHh1bkDMSdBPcN3N8xxo8GzuAs9muj9YD/APAZOnctkff5AAAAAElFTkSuQmCC" alt="My Github">
    </a>
</nav>