@import '../../shared/styles/vars';
@import '../../shared/styles/flex';

.nav-sidebar {
    width: 270px;
    @include flex(n, center, column, n);

    a {
        color: $olive;        
        text-decoration: none;
    }

    small {
        margin-bottom: 1em;
        font-size: .7em;
        a:hover {
            text-decoration: underline;
        }
    }

    h1 {
        font-size: 1.8em;
        text-align: center;        
    }

    ul {
        width: 100%;
        margin: 0 0 30px;
        padding: 20px 0;
        background-color: rgba($color: $grey, $alpha: .2);
        list-style: none;
        @include flex(n, center, column, n);

        a {
            color: $green;
            font-size: 1.4em;
            line-height: 1.6;
            padding: 10px 40px;
            position: relative;

            &:hover {
                color: $olive;
            }

            &::before {
                position: absolute;
                content: '';
                background-color: rgba($color: $olive, $alpha: .5);
                width: 100%;
                height: 19px;
                z-index: -1;
                bottom: 2px;
                left: 0;
                transition: transform .4s ease-in-out;
                transform: scaleX(0);
            }

            .active-nav-link {
                text-decoration: line-through !important;
            }
        }
    }
}