/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

// variables
@import './app/shared/styles/vars';
@import './app/shared/styles/flex';

html {
    font-size: 22px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: $main-font;
    color: $olive;
    background-color: $black;
    @include flex(center, center, n, n);
}

html * { 
    box-sizing: border-box;
    *::before, *::after {
        box-sizing: inherit;
    }
}

table {
    border-collapse: collapse;
}

td {    
    border: 0;
    border-bottom: rgba($color: $olive, $alpha: .7);
}

.h-small { font-size: .6em; text-align: center; }

.active-nav-link {
    color: $olive !important;
    &::before {
        transform: scaleX(1) !important;
    }
}

.main {
    width: 870px;
    max-height: 90vh;
    min-height: 90vh;
}

.row {
    width: 100%;
    display: flex;
}
.c-1-3 { width: 33%; }
.c-2-3 { width: 67%; }
.c-1-2 { width: 50%; }
.bold { font-weight: bold; }
.flex { display: flex; }
.wrap { flex-wrap: wrap; }